@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&family=DynaPuff&family=Noto+Sans:wght@400;700&display=swap');
    
    body{
        margin: 0;
        font-family:'Noto Sans', sans-serif ;
        font-weight: boldq;
    }

    body *{
        box-sizing: border-box;
    }

    .main-login{
        width: 100vw;
        height: 100vh;
        display: flex;
        justify-content: center;
        align-items: center;
    }


    .left-login{
        width: 50vw;
        height: 100vh;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        
    }

    .left-login > h1{

        color: #55a0dd;
        
    }

    .imagem-direita{
        width: 35vw;
    }

    .right-login{
        width: 50vw;
        height: 100vh;
        display: flex;
        justify-content: center;
        align-items: center;
        
    }

    .card-login{
        width: 60%;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        padding: 30px 35px;
        background: #455a64b5;
        border-radius: 20px;
        box-shadow: 0px 10px 40px #00000056;
        text-shadow: 10px 0px 10px black;
    }


    .card-login > h1{
        color:#5fb0f1 ;
        font-weight: 800;
        margin: 0;
    }


    .textfield{
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: center;
        margin: 10px 0px;
        width: 100%;
    }

    .textfield > input{
        width: 100%;
        border: none;
        border-radius: 10px;
        padding: 15px;
        background:  #a09f9f;
        color:#f0ffffde ;
        font-size: 12pt;
        box-shadow: 0px 10px 40px #00000056;
        outline: none;
        box-sizing: border-box;
    }


    .textfield > label{
        color:#f0ffffde ;
        margin-bottom: 10px;
    }


    .textfield   > input::placeholder{
        color: #f0ffff94;
    }

    .btn-login{
        width: 45%;
        padding: 16px 0px;
        margin: 25px;
        border: none;
        border-radius: 8px;
        outline: none;
        text-transform: uppercase;
        font-weight: 800;
        letter-spacing: 3px;
        color:#f0ffffde;
        background-color: #5fb0f1;
        cursor: pointer;
        box-shadow: 0px 10px 40px -12px #0051ff;
    }
    .btn-login:hover{
        width: 45%;
        padding: 16px 0px;
        margin: 25px;
        border: none;
        border-radius: 8px;
        outline: none;
        text-transform: uppercase;
        font-weight: 800;
        letter-spacing: 3px;
        color:#f0ffffde;
        background-color: #52a0e0;
        cursor: pointer;
        box-shadow: 40px 0px 40px #3569da;
    }

    @media only screen and (max-width: 950px){
        .card-login{
            width: 85%
        }
         }
      

    @media only screen and (max-width: 600px) {
        .main-login{
            flex-direction: column;
        }
        .left-login > h1{
            display: none;
        }
        .right-login{
            width: 100%;
            height: auto;
        }
        .imagem-direita{
            width: 50vw;
        }
        .card-login{
            width: 90%;
        }

         }
        
    


