
/*---CONTEUDO---*/
.div-sobrediv{
  margin-top: 5%;
}


@keyframes moveBanner {
  0% {
    transform: translateY(10rem) rotateY(-30deg);
  }
  100% {
    transform: translateY(0) rotateY(0);
    opacity: 1;
  }
}

/*---CONTEUDO----*/


/* --------------começo: HEADER-TITULO-------------------*/
.sobrediv50{
  display: flex;
  justify-content: center;
  height: 30vh;
  width: 100%;
  background-image: url(https://images.pexels.com/photos/302083/pexels-photo-302083.jpeg?auto=compress&cs=tinysrgb&w=1600);
  background-repeat: no-repeat;
  background-position: center center;
  background-attachment: scroll;
  background-size: cover;
  }

  .sobrediv50 .cor{
    backdrop-filter: blur(15px);
    background-color: rgba(54, 129, 204, 0.5);
    backdrop-filter: blur(15px);
    height: 100%;
    width: 100%;
  }

  
  .sobrediv50 h1{
    margin-top: 8%;
    position: absolute;
    align-items: center;
    font-family: Cooper;
    color: #fff;
    font-size: 4rem;
    font-weight: 200;
    line-height: 3.5rem;
    margin-bottom: 2rem;
    opacity: 0;
    animation: moveBanner 1s 0.5s forwards;
    font-family: var(--font-primary);
  }
/* --------------fim: HEADER-TITULO-------------------*/

/* --------------começo: DIV SERVIÇOS-------------------*/
  .servicos{
     width: 100%;
     display: flex;
     height: auto;
     margin-bottom: 3.5%;
  }
/* --------------fim: DIV SERVIÇOS-------------------*/



/*------------COMEÇO DIVS DIRETORIAS E EQUIPE---------------*/


/*-----Não Mexer-------*/
#diretoria2, #equipe{
  display: none;
}
/*-----Não Mexer-------*/



#esq{
 
  text-align: center;
  width: 50%;
  height: 100vh;
  float: left;
  
}

#dir{
 display: flex;
 justify-content: center;
  text-align: center;
  width: 50%;
  float: left;
}

#equipe{
  width: 100%;
}

#diretoria1, #diretoria2{
  width: 100%;
}

.imgEsquerda{
 
  margin-top: -95%;
  position: relative;
  height: 90%;
  margin-left: -20%;
 
 
}

#dir #lista, #lista2 #vai1{
  position: relative;
  width: 60%;
  height: auto;
  min-height: 500px;
  background: rgb(19 104 167 / 74%);
  padding: 50px;
  border-radius: 30px;
  margin-top: 10%;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 450;

  
 
}

#vai1{
  justify-content: center;
  align-items: center;
  display: flex;
}

.wave2{

  height: 106.8%;
 

}



h3{
  text-align: center;
}


.bold{
  font-weight: bold;
}

#lista, #lista2 h3{
  color: aliceblue;
  font-size: 1.2em;
  text-align: center;
}

#lista, #lista2 #topico{
  position: relative;

  align-items: center;
  margin: 20px 0;
  cursor: pointer;
}

#lista, #lista2 ol{
  text-align: left;
}

.a{
  background: rgb(47 89 143);
  color: aliceblue;
  padding: 3% 12% 3% 12%;
  border-radius: 8px;
  font-size: 15pt;
}

.a:hover{
  background: rgb(57, 97, 150);
  color: aliceblue;
  padding: 3% 12% 3% 12%;
  border-radius: 8px;
  font-size: 15pt;
}


/*------------FIM DIVS DIRETORIAS E EQUIPE---------------*/
